html{
    scroll-behavior: smooth;
}


nav{
    text-align: center;
    
}

nav ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li{
    display: inline;
 
}

nav a{
    font-weight: 700;
    font-size: .8em;
    margin: 2em;

}
#fff2{
    color: black;
    font-family: 'EB Garamond', serif;
}
#fff{
    color: black;
    font-family: 'EB Garamond', serif;
}
.navbar-nav{
   align-items: center;
}
header{
    border-bottom: .01em solid rgb(139, 134, 134);
    padding: 0;
 
}
.vertical-line{
    display: inline-block;
    border-left: 5px solid black;
    height: 50%;
    margin-left: 4em;
    margin-top: 3em;
    color: rgb(14, 13, 13);
    font-family: 'Playfair Display', serif;
}

h6{
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-top:0em ;
    margin-left:17em;
}

h6 span{
    background: #fff;
    padding:0 10px;
}

#small{
    font-size: .7em;
    font-style: italic;

}

.img-section{
    background-image: linear-gradient(#f7f9fb,#31708e);
    height: 30em;
    width: 100%;
    margin-top: 0em;
    margin-bottom: 3em;

}

.main_pic{
    margin-left: 30em;
    display: inline-block;
}

.main_pic2{
  margin-bottom: 3em;
}

#submit{
  
    border: none;
    background-color: #FB7137;
    color: white;
    font-weight: 700;
    margin-left: 0em;
    height:3.9em;
    min-width: 12em;
    margin-top: -5em;
   
}
#intro{
    margin-top: 1em;
    word-spacing: .5em;
    font-weight: 600;
    font-size: 1.9;
    font-family: 'EB Garamond', serif;
}
#intro_p{
   
    font-family: 'EB Garamond', serif;
    line-height: 3em;
   max-width: 55em;
   font-size: 1.2em;
}
#frame{
    width:560px;
    height:472px
}
#name{
    font-family: 'Lobster', cursive;
   
}
  
#story{
    font-family: 'Dancing Script', cursive;
}
.media{
    background-color: #f7f9fb;
}

#sub1{
    font-weight: 700;
    margin-top: 5em;
    color: #fff;
    font-family: 'EB Garamond', serif;
    
  }
  #sub2{
    max-width: 15em;
    margin-left: 16em;
    margin-top: 1em;
    color: #fff;
    font-family: 'EB Garamond', serif;
  }
  
  .subscribe{
    height: 25em;
    margin-top: 1em;
    margin-bottom: 5em;
    background-size: cover;
}

.form_section{
    margin-top: 0em;
    background-color: #8fc1e3;
 
}
input{
    text-indent: 1em;
}

.email{
    background-color: #8fc1e3;
}
#submit2{
  
    border: none;
    background-color: white;
    color: black;
    font-weight: 700;
    margin-left: 0em;
    height:3.9em;
    min-width: 12em;
    margin-top: 5em;
   
}

.form-control2{
    background-color: #e2e8f0;
    min-width: 20em;
    margin-left: 0em;
    margin-top: 12em;
    height: 3.9em;
    border: 0 solid #e2e8f0;
  }
  

  .mini_content{
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}


.mini_content2{
    height:auto;
    margin-top: 3em;
    margin-bottom: 4em;


}

.card-img-top{
    width: 100%;
    height: 13em;
    
  }

  #link{
    color: black;
    font-weight: 700;
  }

  .card-text{
    font-family: 'Indie Flower', cursive;
  }

  .lp{
    font-family: 'EB Garamond', serif;
  }

  .footer {
    background-color: #5085A5;
    height: 12em;
    margin-top: 2em;
    font-family: 'EB Garamond', serif;
}

#img_logo {
    margin-left: 3em;
    margin-top: 3em;
    width: 15%;
}
#comp_logo{
    color: #FFFF;
    margin-left: .9em;
}
#soc_name{
    color: #FFFF;
    margin-top: 4em;
    margin-left: -4em;
    font-size: 1em;
}
#icon-ig{
    margin-left: -4em;
}
#handle{
    display: inline;
    color: #FFFF;
}
#cs{
    color:#FFFF;

}
#contact{
    margin-top: 3em;
}
#service{
    margin-top: 3em;
}
#product{
    margin-top: 3em;
}

#pricing{
    margin-top: 3em;
}
#blog{
    margin-top: 3em;
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 9em;
 
  }
  div.contain {
    text-align: center;
    padding: 10px 20px;
  }
  #vid{
    font-family: 'EB Garamond', serif;
  }
  